:root{
  --primary: rgb(29, 221, 189);
  --bgDark: rgb(12, 12, 12);
  --white: rgb(250, 250, 250);
  --secondary: rgb(4, 3, 27);
  --bgLight: rgb(190, 181, 181);
  --daeblue : rgb(44, 77, 183); 
  --daepink : rgb(236, 70, 245);
  --daegreen : rgb(165, 254, 166);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.headerserv {
  background-size: cover;
  background-color: var(--secondary);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 10em;
  margin-left: auto;
  margin-right: auto;
}

.center1 {
  background-size: cover;
  background-color: var(--daegreen);
  justify-content: center;
  text-align: center;
  height: 15em;
}

.Services1 {
  display: inline-block;
  width: 2em;
  text-align: left;
  color: var(--daegreen);
  font-size: 2em;
}

.Services2 {
  display: inline-block;
  width: 3em;
  text-align: right;
  color: var(--daepink);
  font-size: 2em;
}

.catalogue {
  display: flexbox;
}

.uppername {
  text-align: center;
  background-color: var(--daeblue);
  padding: 1em;
}

.illustday {
  font-size: 2em;
  color: var(--daegreen);
}

.contents {
  background-color: var(--daeblue);
  padding: 1em;
  width: 100%;
}

#headshot, #bustup, #halfbody, #fullbody {
  justify-self: start;
  display: inline-flex;
  padding-left: 7em;
  padding-right: 5em;
  padding-top: 2em;
}

.carousel {
  float: right;
  text-align: right;
  margin-left: auto;
}

.point {
  font-size: 30px;
  color: var(--bgLight);
}

/* Slideshow container */
.Sshow {
  width: 500px;
  height : 500px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: auto;
  float: left;
  overflow: hidden;
  border: 15px solid var(--daepink);
  background-color: var(--daepink);
  display: flex;
  justify-content: center; /* Mengatur posisi gambar di tengah horizontal */
  align-items: center; /* Mengatur posisi gambar di tengah vertikal */
}

.Sshow img {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  object-fit: contain; /* Memastikan gambar tetap di dalam kotak tanpa memotong atau memperbesar */
}

/* Hide the images by default */
.mySlides1, .mySlides2, .mySlides3, .mySlides4 {
  display: none;
}

img {    
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Sshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: var(--bgDark);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.tos {
  background-color: var(--bgDark);
}

.explaintos{
  color: var(--bgLight);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5em;
}

#descenter, #expcent{
  margin-top: 1em;
  font-size: x-large;
  max-width: 35em;
  align-items: flex-start;
  text-align: justify; /* Menjadikan teks rata kanan-kiri */
}

.dd {
  color: var(--bgLight);
  display: flex;
  justify-content: center;
  gap: 10em;
  margin-top: 20px;
  font-size: x-large;
  padding-top: 1em;
}
.payment{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 35em;
  margin: 0 auto;
  color: var(--bgLight);
  margin-top: 20px;
  font-size: x-large;
}

.pydesc{
  padding-top: 1em;
  padding-bottom: 5em;
}

.costestimator{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 35em;
  margin: 0 auto;
  color: var(--bgDark);
  margin-top: 20px;
  font-size: xx-large;
  color:var(--bgDark)
}

.costtitle{
  padding-top: 5em;
}